# Файл .dockerignore

# Исключаем систему контроля версий
.git
.github

# Исключаем файлы IDE и локальные настройки
.vscode/
.idea/

# Исключаем локальное виртуальное окружение (если есть)
venv/
.venv/

# Исключаем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем локальные файлы .env. Конфигурация должна передаваться
# через docker-compose, а не зашиваться в образ.
.env
*.env.local

# Исключаем файлы зависимостей и логов
/logs/
/downloads/
/node_modules/

# Файлы операционной системы
.DS_Store
Thumbs.db


node_modules/
web_client/node_modules/

