# Игнорируем все файлы Python bytecode
*.pyc
__pycache__/

# Игнорируем папку с логами
logs/

# Игнорируем директорию .git
.git/

# Игнорируем файлы среды разработки
.vscode/

# Игнорируем временные файлы
*.log
*.tmp

# Игнорируем Docker-файлы
Dockerfile
docker-compose.yml
