# FastAPI для REST API
fastapi
uvicorn

# Асинхронная работа с PostgreSQL и Redis
asyncpg
aioredis
psycopg2-binary

# Celery и зависимости
celery
redis
billiard
kombu

# Pydantic для схем и валидации
pydantic
pydantic_core

# Логирование
loguru
colorlog

# Работа с .env файлами
python-dotenv

# HTTP-клиенты
requests
aiohttp

# Discord API
discord.py

# Telegram API (опционально)
python-telegram-bot

# Prometheus
prometheus_client

# SQLAlchemy и миграции
SQLAlchemy
alembic
Mako

# Пароли, безопасность
passlib[bcrypt]
bcrypt
PyJWT

# Тестирование и вспомогательные
rich
pytest
typing_extensions


prometheus-fastapi-instrumentator