# ===================================================================
# Основной фреймворк (Web Framework)
# ===================================================================
fastapi
uvicorn
gunicorn

# ===================================================================
# Фоновые задачи (Background Tasks)
# ===================================================================
# Устанавливаем Celery вместе с быстрой библиотекой для RabbitMQ
celery[librabbitmq]
gevent

# ===================================================================
# Работа с данными (Data & Databases)
# ===================================================================
# ORM и миграции
SQLAlchemy
alembic
Mako

# Драйверы для PostgreSQL (синхронный и асинхронный)
psycopg2-binary
asyncpg

# Драйвер для Redis (синхронный и асинхронный)
redis
aioredis

# Работа с YAML файлами (для сидов)
PyYAML

# ===================================================================
# Безопасность (Security)
# ===================================================================
# Хэширование паролей
passlib[bcrypt]
bcrypt

# JWT-токены
PyJWT

# ===================================================================
# Интеграции и внешние API (Integrations & APIs)
# ===================================================================
# HTTP-клиенты (синхронный и асинхронный)
requests
aiohttp

# API для Discord
discord.py

# ===================================================================
# Мониторинг и Наблюдаемость (Monitoring & Observability)
# ===================================================================
prometheus-client
prometheus-fastapi-instrumentator

# ===================================================================
# Инструменты и утилиты (Tooling & Utilities)
# ===================================================================
# Загрузка .env файлов
python-dotenv

# Логирование
loguru
colorlog

# Системная информация
psutil

# Парсинг SQL
sqlparse

# Библиотека для умных повторных попыток
tenacity

# ===================================================================
# Тестирование и типизация (Testing & Typing)
# ===================================================================
pytest
rich
typing_extensions

# ===================================================================
# Качество кода (Code Quality)
# ===================================================================
black
isort
flake8




aio-pika